/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* .................
   nav-bar styles 
...................*/

.container {
    background-color: #FFF4E7;
}

.btn {
    font-weight: 600;
    font-size: 20px;
    color: #FF900C;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #FF900C;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #FF900C;
    border: none;
    cursor: pointer;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
    max-width: 1100px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-container>ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-container li {
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.link {
    text-decoration: none;
    color: #424242;
}

/* .............
banner styles 
...............*/
.banner-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    text-align: center;
}


.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;

}

.banner-desciption {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 32px 0;

}

.banner-img img {
    max-width: 1100px;
    height: 700px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
    padding-bottom: 20px;
}

/* features styles */

.features-container {
    display: flex;
    align-items: center;
    gap: 73px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 85px 0;
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}

.features-img>img {
    width: 250px;
    height: 250px;
}

.features-title {
    font-weight: 500;
    font-size: 45px;
}

.features-desciption {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 32px 0;
}

/* features list container */

.features-list-container {
    display: flex;
    gap: 54px;
    max-width: 1250px;
    margin: 0 auto;
}

.features-list {
    margin: 30px 0;
}

.list-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.lists {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list {
    width: 500px;
    height: 170px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 23px -19px rgba(0, 0, 0, 0.75);
}

.list>h3 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}

.list>p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.features-list-img {}

.features-list-img img {}

.special-btn {
    display: flex;
    justify-content: center;
    align-items: center;


}

.special-btn button {
    font-weight: 700;
    font-size: 40px;
    padding: 40px;
    background-color: #FF900C;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: -160px;
    cursor: pointer;
}

.special-btn span {
    font-weight: 500;
    font-size: 18px;
}

/* facts section styles */
.facts-description {
    margin-left: 100px;
}

.facts-description h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 120px;
}

.facts-description p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 100px;
    margin-top: 24px;
}

.facts-details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 130px;
    margin-bottom: 150px;
}

.fact {
    padding: 20px;
    border: 1px solid #FF900E;
    border-radius: 5px;
    height: 200px;
    width: 200px;
}

.fact p {
    padding: 10px 0;
    font-weight: 600;
    font-size: 30px;
    color: #424242;
}

.fact h3 {
    font-weight: 600;
    font-size: 18px;
    color: #727272;
}

/* sponsors and brand */

.sponsonrs-details {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.sponsonrs-details h1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponsonrs-details p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 24px 450px;
}

.brand-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px 100px;
    padding: 20px;
    max-width: 1250px;
    -webkit-filter: grayscale(100%) brightness(30%) contrast(10000000%);
    opacity: .7;
}

/* footer */

.footer-container {
    font-weight: 400;
    font-size: 20px;
    max-width: 1200px;
    margin: 130px auto 200px auto;
    background-color: #FFF4E7;
    color: #424242;
    padding: 38px 250px;
    border-radius: 5px;
}

/* media quaries for mobile */

@media only screen and (max-width:576px) {
    body {
        padding-left: 20px;
    }

    .nav-container,
    .nav-container ul,
    .features-container,
    .features-list-container,
    .facts-details {
        flex-direction: column;
    }

    .banner-img img {
        width: 100%;
        object-fit: cover;
    }

    .features-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .features-details,
    .facts-details,
    .lists,
    .some-facts-container {
        text-align: center;
    }

    .list,
    .fact,
    .features-list-img img {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .facts-description {
        margin-left: 0;
    }

    .sponsonrs-details p {
        padding: 24px 0;
    }

    .special-btn {
        margin-top: 80px;
    }

    .footer-container {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
}